body {
  font-family: sans-serif;
}

nav {
  height: 400px;
  background-color: burlywood;
  border: 1px solid black;
}

section {
  height: 300px;
  background-color: crimson;
  border: 1px solid black;
}
